*{
 padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
.total-layout{
    width=100%;
    max-width: 750px;
    margin: auto;
    height: 100%;
}
.top-navbar{
    width: 100%;
    max-width: 750px;
    margin: auto;
    top: 0;
}
.top-navbar ul{
    
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
    background-color: white;
}
li{
    float: left;
}
.nav-camera{
    width: 15%;  
}
.nav-insta{
    width: 65%;
    font-style:italic;
}
.nav-end{
    width: 10%;
}
.nav-search{
    width: 10%;
}
li a{
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: black;
    cursor: pointer;
}
.bottom-nav{
    list-style: none;
    width: 100%;
    max-width: 750px;
    position: fixed;
    margin: auto;
    bottom: 0;
}
.bottom-nav ul{
    list-style: none;
}
.bottom-nav li{
    float: left;
    width: 20%;
}
.bottom nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: black;
    cursor: pointer;
}
.paragraph{
    display: block;
    width: auto;
    font-family: monospace;
    font-size: 48px;
    color: red;
   padding-top: 200px;
    text-align: center;
}

